*{margin: 0;padding: 0;}
#body{width: 1260px;}
#head{background: #D40000;height: 42px;}
#head ul li a{ font-size: 14px;margin-left: 10px;color: beige;}
#head ul li a:hover{color: azure;background: #B20000;}
#login{position: absolute;right: 30px;top: 10px;color: azure;}
#wellcom{position: absolute;right: 100px;top: 8px;color: azure;font-size: 18px;}
#login a{color: azure;}
#search{border: solid 1px #F3F3F3;height: 60px;background: #F3F3F3;}
#tt{position: absolute;top: 53px;left: 20px;height: 38px;border: solid 1px #696969;width: 380px;}
#ss{position: absolute;top: 53px;left: 400px;height: 38px;border: solid 1px red;width: 100px;
	background-color: #D40000;font-family: "微软雅黑";color: ivory;font-size: 18px;border: 0px;}
#info{margin-left: 585px;margin-top: 17px;}
#title1{border: solid 1px #DDDDDD;width: 120px;font-size: 16px;margin-top: 20px;margin-left: 20px;
	height: 40px; padding-top: 10px;}
#areas{border: solid 1px #DDDDDD;margin-left: 20px;padding-top: 10px;}
#areas a{color: #696969;}
#areas a:hover{color: #D40000;}
#select{width: 98%;margin-left: 20px;padding-top: 10px;padding-bottom:10px; background: #F9F9F9;border: 1px solid #DDDDDD;}
#select select,#select input{ margin-left: 20px;height: 30px;width:100px;}
#new{position: absolute;top: 115px;left: 85%;height: 38px;border: solid 1px red;width: 150px;
	background-color: #CC0000;font-family: "微软雅黑";color: ivory;font-size: 18px;border: 0px;}
.info{clear:both;width: 98%;margin-left: 20px;margin-top: 10px;border: solid 1px #DDDDDD;height: 173px;}
#photo{width: 200px;height: 150px; float: left;}
#photo img{width: 200px;height: 150px;margin-top: 10px;}
#detail{float:left;height:150px;width:350px; margin-left:40px;padding-top:20px;margin-top: 20px;}
#harea{float: left;margin-left: 220px;padding-top: 50px;margin-top: 20px;}
#price{float: left;margin-left: 115px;padding-top: 50px;margin-top: 20px;}
#foot{margin-top: 30px;line-height: 25px;}
hr{height:1px;border:none;border-top:1px solid #555555;width: 800px;}
#loginfo{border:1px #A9A9A9 solid;background: #E5EAF5;padding-top:20px; padding-left:30px; clear: both;width: 500px; margin-top: 90px;margin-bottom: 90px;position: relative;margin-left: -250px;left: 50%;}
#loginfo p,#registinfo p{font-family: "微软雅黑";font-size: 20px;text-align: left;font-weight: 600;color: #000000;}
#username{width: 350px; height: 30px;margin-left: 1px;}
#password{width: 350px; height: 30px;margin-left: 1px; }
#codeStr{width: 350px; height: 30px;margin-left: 1px; }
#codephoto{border: solid 1px #808080; width: 80px;height: 30px;float: right;margin-right: 30px;}
#registinfo{border:1px #A9A9A9 solid;background: #E5EAF5;padding-left:20px;padding-top:10px; clear: both;width: 500px; margin-top: 50px;margin-bottom: 40px;position: relative;margin-left: -250px;left: 50%;}
#realname{width: 350px; height: 30px;margin-left: 1px; }
#tel{width: 350px; height: 30px;margin-left: 1px; }
.button{width: 500px;margin-left: 60px;font-size: 14px;}
.bt{width: 100px;height: 30px;margin: 0 auto;background: #D40000;color: #F0F8FF;font-family: "微软雅黑";}
.hint{height: 20px;color: red;}
#fontStyle{color:red;font-size: 25px;font-weight: bold;}

.dialog { width:680px; margin:50px auto; }
.dialog h4 { margin:5px 20px; font-size:14px; line-height:30px; border-bottom:1px solid #ccc; }
.dialog .box { border:1px solid #ccc; }
.dialog .infos { padding:10px 20px; color:#666; }
.dialog .buttons {margin-left:180px; text-align:center; background: #B20000;width:130px;height: 40px;color: white;}
.dialog .buttons input { margin:0 5px; border:0; }
.dialog table { line-height:15px; }
.dialog table .field { width:120px; text-align:right; }
.dialog table input.text { width:240px; margin:7px 0; border:1px solid #85a0be; padding:4px 6px; display: inline;}
.dialog table input.stext { width:50px; margin:7px 0; border:1px solid #85a0be; padding:4px 6px; }
.dialog table input.mtext { width:60px; margin:7px 0; border:1px solid #85a0be; padding:4px 6px; }
.dialog table textarea { width:240px; height:80px; margin:7px 0; border:1px solid #85a0be; padding:4px 6px; }
.dialog .msg { padding:50px 0; text-align:center; }
.dialog table .label { width:120px; text-align:right; }
.dialog table .error { width:240px; text-align:right; }

#regLogin { margin:50px auto; }
#regLogin .dialog { width:500px; margin:0 auto; }
#regLogin .dialog .box { background:#f0f5f8; font-size:14px; }
#regLogin dl { line-height:30px; font-size:14px; font-weight:bold; border-bottom:3px solid #09C; }
#regLogin dl dt,
#regLogin dl dd { float:left; }
#regLogin dl dt { padding-left:10px; padding-right:30px; }
#regLogin dl dd { padding:0 50px; background:#eee; color:#666; border-left:1px solid #fff; }
#regLogin dl dd.past { background:#09C; color:#fff; }
#regLogin .dialog .box table { width:500px; margin:0 auto; }
#regLogin .dialog .box .infos { padding:40px 0; }
#regLogin .dialog .box .buttons input { background:url(../images/btn_bg.gif); width:125px; height:36px; font-size:14px; font-weight:bold; color:#fff; }
#regLogin .dialog .verycode { width:130px; }

.addbutton, .minusbutton { width: 30px; height: 30px; font-size: 18px;}
.minusbutton { margin-left: 5px;}
td img { margin:5px 5px; }
.count{width: 30px;height: 30px;position: relative;left: 170px;bottom: 30px;background: gray;color:white;padding-left: 5px;padding-top: 5px}